<%= form_for host, :html => { class: "formtastic host" } do |f| %>

<fieldset class="inputs">

<ol>
  <%= f.hidden_field :available, value: false %>
  <li class="string input optional"><%= f.label :guest_name, class: "control-label col-lg-3" %><%= f.text_field :guest_name, class: "form-control" %></li>
  <li class="string input optional"><%= f.label :guest_data, class: "control-label col-lg-3" %><%= f.text_field :guest_data, class: "form-control" %></li>
  <li class="string input optional"><%= f.label :pickup_data, class: "control-label col-lg-3" %><%= f.text_field :pickup_data, class: "form-control" %></li>
  <li class="string input optional"><%= f.label :guest_end_date, class: "control-label col-lg-3" %><%= f.date_select :guest_end_date, class: "" %></li>
</ol>
</fieldset>

  
  <div class="form-group">
    <div class="col-lg-offset-3 col-lg-8">
      <%= f.submit t("buttons.submit"), class: "btn btn-primary" %>
      
    </div>
  </div>

<% end %>
