<script>
  $( document ).ready(function() {
    console.log( "jQuery is functional." );
  });
</script>
<div class="container">
  <% if @listing %>
    <div class="alert alert-info">Du bist aktuell als Gastfamilie gelistet. <%= link_to "Hier", edit_host_path(@listing) %> kannst du dein Angebot aktualisieren oder löschen.</div>
  <% end %>
  <div class="main-page">
    <div class="d-flex justify-content-center">
      <h1 class="header-style text-center">
        <span class="free-header-style fw-bold">Kostenlose </span>Privatunterkünfte für Geflüchtete
      </h1>
    </div>
    <div class="d-flex justify-content-center mt-2">
      <span class="offers-available fs-6">Kurz- und langfristig</span>
    </div>
    <div class="d-flex justify-content-center mt-2">
      <span class="offers-available fs-6 text-center"><b>*</b>entwickelt in enger Zusammenarbeit mit den Freiwilligen des Berliner <a href="https://www.facebook.com/berlin.laf/" target="_blank" class="link-secondary">LAF</a>, die dein Angebot vermitteln werden</span>
    </div>
    <div class="d-flex justify-content-center mt-5">
      <%= image_tag "location.svg" %> <span class="city-name fs-4">Berlin, Deutschland</span>
    </div>
    <div class="d-flex justify-content-center mt-2 mb-5">
      <span class="offers-available fs-5"><span class="offers-quantity"><%= Host.count %></span> Unterkünfte</span>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center align-items-center">
  <div class="d-flex justify-content-evenly bg-back w-75">
    <div class="d-flex flex-column align-items-center justify-content-center w-50 bg-style big-button-card">
      <div class="big-button-card-link">
        <%= link_to t("buttons.host"), new_host_path, class: "btn btn-call-to-action", role: "button" %>
      </div>
      <div class="big-button-card-text">
        Hier kannst du eine Unterkunft für Geflüchtete anbieten.
      </div>
    </div>
    <div class="d-flex flex-column align-items-center justify-content-center w-50 bg-style big-button-card">
      <div class="big-button-card-link">
        <%= link_to t("buttons.find"), "/admin/available_hosts", class: "btn btn-call-to-action", role: "button" %>
      </div>
      <div class="big-button-card-text">
        Aktuell können sich nur Freiwilligenteams die Angebote ansehen.
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center mt-5 mb-5">
  <span class="social-name fs-3 text-center"> Bitte teile diese Webseite mit jemandem, der helfen kann!</span>
</div>
<div href="https://safehost.space/" id="copy-link" class="share-link">
  <div class="d-flex justify-content-center mt-5 mb-2">
    <%= image_tag "share.svg" %>
  </div>
  <div class="d-flex justify-content-center mb-5">
    <div class="share">Link teilen
      <span class="link-copied d-none " id="alertArea">Link wurde kopiert</span>
    </div>
  </div>
</a>
</div>
