
<div class="page-header">
  <h1>Forgot your password?</h1>
</div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "form" }) do |f| %>
  <% if resource.errors %>
    <div class="alert alert-danger" role="alert">
      <%= resource.errors.full_messages.first %>
    </div>
  <% end %>


  <div class="form-group row">
    <%= f.label :email, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  </div>

  <div class="form-group actions">
      <%= f.submit "Send me reset password instructions", class: "btn btn-primary" %>
  </div>

<% end %>

<%= render "devise/shared/links" %>
